---
layout: page
title: "Portfolio"
subtitle: "All the stuff I have done"
comments: false
sharing: true
footer: true
---

<section id="portfolio">
    <ul class="options">
        <li>
            <em>Sort by:</em>
            <select name="sort" class="option-sort" autocomplete="off">
                <option value="" selected>Shuffle</option>
                <option value="date" data-ascending="false">Date</option>
                <option value="client" data-ascending="true">Client</option>
            </select>
        </li>
        <li>
            <em>Filter:</em>
            <select name="filter" class="option-filter" autocomplete="off">
                <option value="">none</option>
                <option value="year">Year</option>
                <option value="client">Client</option>
                <option value="specs">Technology</option>
            </select>
            <select name="filter-year" class="option-filter-item" data-filter="year" autocomplete="off">
                <option value="">none</option>
<% for(y = 0; y < years.length; y += 1) { -%>
                <option value="<%= years[y] %>"><%= years[y] %></option>
<% } -%>
            </select>
            <select name="filter-client" class="option-filter-item" data-filter="client" autocomplete="off">
                <option value="">none</option>
<% for(client in clients) { -%>
                <option value="<%= client %>"><%= clients[client].name %></option>
<% } -%>
            </select>
            <select name="filter-specs" class="option-filter-item" data-filter="specs" data-includes="true" autocomplete="off">
                <option value="">none</option>
<% for(spec in specs) { -%>
                <option value="<%= spec %>"><%= specs[spec].long %></option>
<% } -%>
            </select>
        </li>
    </ul>
    <ul class="portfolio clearfix" id="portfolioItems">
<% portfolio.forEach(function(item) { -%>
<% include portfolio_item %>
<% }) -%>
    </ul>

<script type="text/javascript" src="{{ root_url }}/javascripts/libs/isotope.min.js"></script></section>
<script type="text/javascript" src="{{ root_url }}/javascripts/portfolio.js"></script>
